.classpath
.project
.settings
node_modules
dist
bower_components
.tmp
.publish/
.idea
*.stt
bin
pojo-bin
target
*.iml
*~
*~bak
*-bak
*.bak
*-new
*.rej
*.orig
.DS_Store
.pydevproject
*.pyc
*.ipr
*.iws
*.gpd.*
*cpJar*
dependency-tree.log
nashorn_code_cache
